fastapi>=0.115,<1
uvicorn[standard]>=0.34,<1
python-multipart>=0.0.9
numpy>=1.26
imageio-ffmpeg>=0.6
onnx-asr[hub]==0.11.0
onnxruntime-gpu==1.18.1
huggingface_hub>=0.24,<1
onnx>=1.16,<2
pefile>=2023.2.7
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==8.9.4.25
nvidia-cublas-cu11==11.11.3.6
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cuda-nvrtc-cu11==11.8.89
